/* Start Global Rules */
*{
    box-sizing: border-box;
}
body {
    font-family: "Work Sans" , sans-serif;
}
/* End Global Rules */
/* Star Variables */

/* End Variable */
.parent{
    background-color: #eee;
}